name: Render all templates

on:
  workflow_dispatch:

jobs:
  render_templates:
    name: Render all templates
    uses: ctfpilot/challenge-ci/.github/workflows/render-templates.yml@v1.0.2
    permissions:
      contents: write
      packages: write
      id-token: write
    with:
      runs-on: ubuntu-latest
      toolkit-path: ./challenge-toolkit/
